### **Q1.**

In [72]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()

a

6

'a' will be 6.

Inside the function 'b' we have called 'a' as global. So each time we update 'a' it will be updated throughout the script.

The first time we call 'b', it also calls the function 'c' and then returns that value incremented by 2, which is then stored in a. Since we called 'a' globally it will 'a' will be updated throughout. Here 'a' will start with 0, and after we call 'b', 'a' will become 2.

Likewise when we call the function 'b' 2 times more, 'a' will updated twice. In the second calling of 'b', 'a' will become 4, and in the third calling 'a' will become 6.

### **Q2.**

In [19]:
def fileLength(fileName):
    
    try:
        # Checking if we there is such file
        file_name = open(fileName, "r")
        file_contents = file_name.read()
        
        '''
        # Code to see the contents of the file

        print(f"Contents of {file_name}:")
        for x in file_contents:
            print(x)
        '''

        print(f"The length of \"{fileName}\" is: {len(file_contents)}")

    except FileNotFoundError:
        print(f"File \"{fileName}\" is not found")

In [20]:
fileLength("midterm.py")
fileLength("idterm.py")

The length of "midterm.py" is: 24
File "idterm.py" is not found

### **Q3.**

In [35]:
# Class Marsupial

class Marsupial:
    
    def __init__(self):
        self.items_of_pouch = []
    
    def put_in_pouch(self, item_to_add):
        
        if type(item_to_add) == str:
            self.items_of_pouch.append(item_to_add)
        else:
            print(f"Cannot add {item_to_add} to the pouch")
    
    def pouch_contents(self):

        print("\nYou have the following items in the house: ")
        
        print(self.items_of_pouch)

In [36]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.put_in_pouch(13)
m.pouch_contents()

Cannot add 13 to the pouch

You have the following items in the house:
['doll', 'firetruck', 'kitten']

In [43]:
class Kangaroo(Marsupial):
    
    def __init__(self, x_coordinate, y_coordinate):
        self.items_of_pouch = []
        self.x_axis = x_coordinate
        self.y_axis = y_coordinate
    
    def jump(self, dx, dy):

        if type(dx) == int and type(dy) == int:
            self.x_axis += dx
            self.y_axis += dy
        else:
            print("Incorrect inputs")
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x_axis}, {self.y_axis})"

In [46]:
k = Kangaroo(0,0)

print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print("\n",k)

I am a Kangaroo located at coordinates (0, 0)

You have the following items in the house:
['doll', 'firetruck', 'kitten']

 I am a Kangaroo located at coordinates (3, 0)

### **Q4.**

In [8]:
def collatx(user_input):
    
    user_input = float(user_input)
    
    if user_input > 1:
        if user_input % 2 == 1:
            # if odd
            value = (3 * user_input) + 1
            print(value)
            collatx(value)
        
        elif user_input % 2 == 0:
            # if even
            value = user_input / 2
            if value > 1:  # to avoid repetitions of printing 1
                print(value)
            collatx(value)

    if user_input == 1 or user_input == 0:
        print(user_input)

In [9]:
collatx(1)
collatx(10)

1.0
5.0
16.0
8.0
4.0
2.0
1.0

### **Q5.**

In [17]:
def binary(number):
    if number >= 0 and type(number) == int:
        print(f"Binary representation of {number} is: {number:b}")
    else:
        print(f"{number} is an invalid input")

In [18]:
binary(0)
binary(1)
binary(3)
binary(9)

Binary representation of 0 is: 0
Binary representation of 1 is: 1
Binary representation of 3 is: 11
Binary representation of 9 is: 1001

### **Q6.**

In [ ]:
%pip install bs4
%pip install lxml

In [4]:
from bs4 import BeautifulSoup

with open('w3c.html', 'r') as f:

    contents = f.read()

    soup = BeautifulSoup(contents, 'lxml')

    h1_header = soup.h1
    # 0 Indentation
    for value in h1_header:
        print(value)

    h2_header = soup.h2
    # 1 Indentation
    for value in h2_header:
        print("    ", value, sep="")

W3C Mission
    Principles

### **Q7.**

In [ ]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

In [2]:
class My_Collector(HTMLParser):
    # collects hyperlink URLs into one list

    def __init__(self, url):
        # initialize parser, url, and one list
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attributes):
        # collects hyperlink URLs in their absolute format
        if tag == "a":
            for attribute in attributes:

                # construct absolute URL
                if attribute[0] == "href":
                    absolute_URL = urljoin(self.url, attribute[1])

                    # collect HTTP URLs
                    if absolute_URL[:4] == "http":
                        self.links.append(absolute_URL)

    def get_links(self):
        # returns hyperlinks URLs in their absolute format
        return self.links

In [3]:
url_list = []


def webdir(url, depth, indent):
    print((" " * indent) + url)

    if depth <= 0 or url in url_list:
        return

    else:
        url_list.append(url)

    try:
        URL_resource = urlopen(url)
        URL_content = URL_resource.read().decode()
        collector_obj = My_Collector(url)
        collector_obj.feed(URL_content)

        for link in collector_obj.get_links():
            webdir(link, depth - 1, indent + 1)

    except:
        print("Error with URL: " + url)


webdir("https://reed.cs.depaul.edu/index.html", 2, 0)

https://reed.cs.depaul.edu/index.html
 https://www.cdm.depaul.edu
Error with URL: https://www.cdm.depaul.edu
 https://reed.cs.depaul.edu/index.html
 https://reed.cs.depaul.edu/contact.html
  https://www.cdm.depaul.edu
  https://reed.cs.depaul.edu/index.html
  https://reed.cs.depaul.edu/contact.html
  https://fpl.cs.depaul.edu/
 https://reed.cs.depaul.edu/rjagadeesan/
Error with URL: https://reed.cs.depaul.edu/rjagadeesan/
 https://reed.cs.depaul.edu/wmarrero/
  http://www.cdm.depaul.edu/
  http://www.depaul.edu/
  https://my.cdm.depaul.edu/authenticate/login.asp?section=people&title=appointment&urlahead=apt_making/makeApts
  http://www.cs.cmu.edu/~sef/Orig-Smiley.htm
 https://reed.cs.depaul.edu/cpitcher/
  http://www.cdm.depaul.edu
  https://reed.cs.depaul.edu/cpitcher/index.html
  https://reed.cs.depaul.edu/cpitcher/research.html
  https://reed.cs.depaul.edu/cpitcher/publications.html
  https://reed.cs.depaul.edu/cpitcher/teaching.html
  https://reed.cs.depaul.edu/cpitcher/advising.html
  https://reed.cs.depaul.edu/cpitcher/contact.html
  http://www.cdm.depaul.edu/about/Pages/School-of-Computing.aspx
  http://www.cdm.depaul.edu
  http://www.depaul.edu
  https://reed.cs.depaul.edu/
  https://www.cdm.depaul.edu/academics/pages/courseinfo.aspx?Subject=CSC&CatalogNbr=299
  https://reed.cs.depaul.edu/cpitcher/courses/csc299
  https://www.cdm.depaul.edu/academics/pages/courseinfo.aspx?Subject=CSC&CatalogNbr=347
  https://reed.cs.depaul.edu/cpitcher/courses/csc347
 https://reed.cs.depaul.edu/jriely/
  http://www.cdm.depaul.edu/about/Pages/People/facultyinfo.aspx?fid=109
  http://www.cdm.depaul.edu/about/Pages/School-of-Computing.aspx
  http://www.depaul.edu
  http://www.depaul.edu/campus-maps/Pages/default.aspx?campus=loop
  http://www.google.com/maps/?q=243+S.+Wabash+Ave.+Chicago+IL+60604
  https://reed.cs.depaul.edu/jriely/images/headshot2015.jpg
  https://reed.cs.depaul.edu/jriely/papers/index.html
  https://orcid.org/0000-0002-8731-1463
  http://www.informatik.uni-trier.de/~ley/db/indices/a-tree/r/Riely:James.html
  http://scholar.google.com/citations?user=P_76K3wAAAAJ
  https://www.semanticscholar.org/author/James-Riely/1732817
  http://www.researchgate.net/profile/James_Riely
  https://www.scopus.com/authid/detail.uri?authorId=6602227457
  http://www.nsf.gov/awardsearch/advancedSearchResult?PIId=&PIFirstName=James&PILastName=Riely&IncludeCoPI=true&PIOrganization=&PIState=&PIZip=&PICountry=&ProgOrganization=&ProgEleCode=&BooleanElement=All&ProgRefCode=&BooleanRef=All&Program=&ProgOfficer
  http://portal.core.edu.au/conf-ranks/
  https://kanalregister.hkdir.no/Forside?request_locale=en
  https://reed.cs.depaul.edu/jriely/ds1/index.html
  https://reed.cs.depaul.edu/jriely/447/index.html
  https://reed.cs.depaul.edu/jriely/visualization
  https://reed.cs.depaul.edu/jriely/ds1/index.html
  https://reed.cs.depaul.edu/jriely/ds2/index.html
  https://reed.cs.depaul.edu/jriely/360/index.html
  https://reed.cs.depaul.edu/jriely/373/index.html
  https://reed.cs.depaul.edu/jriely/444/index.html
  https://reed.cs.depaul.edu/jriely/436/index.html
  https://reed.cs.depaul.edu/jriely/448/index.html
  https://reed.cs.depaul.edu/jriely/535/index.html
  https://reed.cs.depaul.edu/jriely/450/index.html
  https://reed.cs.depaul.edu/jriely/547/index.html
  https://reed.cs.depaul.edu/jriely/evals/index.html
  http://www.ratemyprofessors.com/ShowRatings.jsp?tid=366761
  https://sites.google.com/site/gcasrworkshop/
  https://google.com/search?q='midwest+pl+summit'
  https://ceric.ca/wp-content/uploads/2018/06/Computing-Disciplines-A-Quick-Guide-for-Prospective-Students-and-Career-Advisors.pdf
  http://www.cdm.depaul.edu/about/Pages/School-of-Computing.aspx#graduate
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-MS-in-Computer-Science.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-MS-SE-Software-Development.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-MS-CINS-Computer-Security.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-MS-in-Human-Computer-Interaction.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-MS-IS-Standard.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-MS-E-Commerce-Technology.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-MS-In-Predictive-Analytics-Computational.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-MS-In-Game-Programming.aspx
  http://facweb.cs.depaul.edu/andre/GAM%20degrees.html
  http://www.cdm.depaul.edu/gae
  https://www.cdm.depaul.edu/Current%20Students/Pages/InternshipsandCOOPs.aspx
  http://www.cdm.depaul.edu/about/Pages/School-of-Computing.aspx#undergraduate
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-BS-In-Computer-Science-Software-Development.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-BS-in-Information-Technology-Web-Development.aspx
  http://www.cdm.depaul.edu/academics/Pages/2016/Requirements-BS-in-IASE.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-BS-Network-Engineering-and-Security.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-BS-in-Interactive-Media-Development.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-BS-Information-Systems.aspx
  http://www.cdm.depaul.edu/academics/Pages/Current/Requirements-BS-in-Math-Computer-Science.aspx
  http://facweb.cs.depaul.edu/andre/GAM%20degrees.html
  http://www.cdm.depaul.edu/academics/Pages/Current/UndergraduateMinors.aspx
  http://academics.depaul.edu/liberal-studies/
  https://www.cdm.depaul.edu/Current%20Students/Pages/InternshipsandCOOPs.aspx
  http://www.cdm.depaul.edu/academics/Pages/CombinedDegrees.aspx
  http://www.cdm.depaul.edu/academics/Pages/CourseSchedule.aspx?department=CSC
  http://dpu.unofficialtools.com/
  http://mocksched.com
  http://www.depaul.edu/admission-and-aid/test-credit-and-placement/credit-given-by-exam/Pages/ap.aspx
  http://careercenter.depaul.edu/advice/cdm.aspx
  http://careercenter.depaul.edu/jobs/internships.aspx
  http://careercenter.depaul.edu/results
  http://www.computerscienceonline.org/careers/
  http://www.chicagoacm.org/
  http://computer-science.meetup.com/cities/us/il/chicago/
  http://computer-programming.meetup.com/cities/us/il/chicago/
  https://my.cdm.depaul.edu/CTI/advising/display.asp?tab=faculty&page=rosters
  https://docs.cdm.depaul.edu/committees/PC-CS/SitePages/Home.aspx?SortField=Modified&SortDir=Dsc
  https://teams.depaul.edu/committees/faculty-council
  https://teams.depaul.edu/committees/faculty-council/coolteam/SitePages/Home.aspx
  https://teams.depaul.edu/committees/faculty-council/capteam/SitePages/Home.aspx
  https://resources.depaul.edu/teaching-commons/
  http://offices.depaul.edu/fits/
  https://cs.uchicago.edu/page/distinguished-lecture-series
  https://www.cs.uic.edu/bin/view/Main/Seminars
  http://learntocodewith.me/posts/code-for-free/
  https://www.class-central.com/subject/cs?sort=rating-up&lang=english
  https://egghead.io/browse/frameworks
  https://www.agilelearner.com/presentation/bydate
  https://www.codewars.com/
  https://www.freecodecamp.com
  https://www.codecademy.com
  https://www.coursera.org/browse/computer-science
  https://www.udacity.com/courses/all
  https://www.edx.org/course/subject/computer-science

### **Q8.**

In [ ]:
'''
City    Country         Season  Temperature  Rainfall
Mumbai  India           Winter  24.8         5.9
Mumbai  India           Spring  28.4         16.2
Mumbai  India           Summer  27.9         1549.4
Mumbai  India           Fall    27.6         346.0
London  United Kingdom  Winter  4.2          207.7
London  United Kingdom  Spring  8.3          169.6
London  United Kingdom  Summer  15.7         157.0
London  United Kingdom  Fall    10.4         218.5
Cairo   Egypt           Winter  13.6         16.5
Cairo   Egypt           Spring  20.7         6.5
Cairo   Egypt           Summer  27.7         0.1
Cairo   Egypt           Fall    22.2         4.5
'''

In [1]:
import sqlite3

# Establishing connection
con = sqlite3.connect("information_table.db")  # Creating a database called 'midterms.db'
cur = con.cursor()

# Creating Table 
cur.execute('''
            CREATE TABLE Information (
                City text, 
                Country text, 
                Season text,
                'Temperature' real,
                'Rainfall' real
            )''')

# Values to Insert
record_1 = ("Mumbai", "India", "Winter", 24.8, 5.9)
record_2 = ("Mumbai", "India", "Spring", 28.4, 16.2)
record_3 = ("Mumbai", "India", "Summer", 27.9, 1549.4)
record_4 = ("Mumbai", "India", "Fall", 27.6, 346.0)
record_5 = ("London", "United Kingdom", "Winter", 4.2, 207.7)
record_6 = ("London", "United Kingdom", "Spring", 8.3, 169.6)
record_7 = ("London", "United Kingdom", "Summer", 15.7, 157.0)
record_8 = ("London", "United Kingdom", "Fall", 10.4,  218.5)
record_9 = ("Cairo",  "Egypt", "Winter", 13.6, 16.5)
record_10 = ("Cairo",  "Egypt", "Spring", 20.7, 6.5)
record_11 = ("Cairo",  "Egypt", "Summer", 27.7, 0.1)
record_12 = ("Cairo",  "Egypt", "Fall", 22.2, 4.5)

# Inserting Values
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_1)
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_2)
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_3)
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_4)
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_5)
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_6)
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_7)
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_8)
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_9)
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_10)
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_11)
cur.execute("INSERT INTO Information VALUES (?, ?, ?, ?, ?)", record_12)

# Saving Changes
con.commit()

# Closing Connection
con.close()

In [24]:
def my_sql_funciton(execution_statement):
    # Querying the newly created database

    # Establishing connection
    con = sqlite3.connect("information_table.db")
    cur = con.cursor()

    records = cur.execute(execution_statement)

    for record in records:
        print(record)

    # Saving Changes
    con.commit()

    # Closing Connection
    con.close()

### **Q8.** *a*

In [14]:
sql_statement = '''
                SELECT * FROM Information
                '''
my_sql_funciton(sql_statement)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

### **Q8.** *b*

In [15]:
sql_statement = '''
                SELECT DISTINCT City FROM Information
                '''
my_sql_funciton(sql_statement)

('Mumbai',)
('London',)
('Cairo',)

### **Q8.** *c*

In [16]:
sql_statement = '''
                SELECT * FROM Information
                WHERE Country = "India"
                '''
my_sql_funciton(sql_statement)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

### **Q8.** *d*

In [17]:
sql_statement = '''
                SELECT * FROM Information
                WHERE Season = "Fall"
                '''
my_sql_funciton(sql_statement)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

### **Q8.** *e*

In [18]:
sql_statement = '''
                SELECT City, Country, Season FROM Information
                WHERE Rainfall BETWEEN 200 and 400
                '''
my_sql_funciton(sql_statement)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

### **Q8.** *f*

In [19]:
sql_statement = '''
                    SELECT City, Country FROM Information
                    WHERE Temperature > 20
                    ORDER BY Temperature
                '''
my_sql_funciton(sql_statement)

('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')
('Cairo', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')

### **Q8.** *g*

In [25]:
sql_statement = '''
                    SELECT Sum(Rainfall) FROM Information
                    WHERE City = "Cairo"
                '''
my_sql_funciton(sql_statement)

(27.6,)

### **Q8.** *h*

In [48]:
sql_statement = '''
                    SELECT Season, SUM(Rainfall) FROM Information
                    GROUP BY Season
                '''
my_sql_funciton(sql_statement)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

### **Q9.**

In [1]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### **Q9.** *a*

In [2]:
a_new_words_list = []

for word in words:
    a_new_words_list.append(word.upper())

a_new_words_list

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### **Q9.** *b*

In [4]:
b_new_words_list = []

for word in words:
    b_new_words_list.append(word.lower())

b_new_words_list

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### **Q9.** *c*

In [5]:
c_new_words_list = []

for word in words:
    c_new_words_list.append(len(word))

c_new_words_list

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### **Q9.** *d*

In [6]:
d_new_words_list = []

for word in words:
    d_new_words_list.append([word.upper(), word.lower(), len(word)])

d_new_words_list

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

### **Q9.** *e*

In [8]:
e_new_words_list = []

for word in words:
    if len(word) > 4:
        e_new_words_list.append(word)

e_new_words_list

['quick', 'brown', 'jumps']